/* 
3 classes of buttons; numKey, opKey,adminKey
numKey = [0,1,2,3,4,5,6,7,8,9]
adminKey = [Back, C, CE]
opKey = [plus/minus, sqrt, division, modulus, multiplication, reciprocal, subtract, add,
		decimal point, equals]
*/

*{
	margin: 0 auto;
	box-sizing: border-box;
	/*top: 50px;*/
}

body{
	background-color: #f0f8ff;
}

form{
	border-radius: 10px 10px 10px 10px;
}

#display_fieldset{
	position: relative;
	/*top: 1px;*/
}

.display{
	background-color: #B4DCFF;
	font-family: Consolas;
	color: cadetblue;
	text-align: right;
}

.Key{
	margin: 1px;
	border: 2px solid black;
	border-radius: 7px;
	height: 30px;
	width: 30px;
}

.Key:hover{

}

.Key:active{
	color: rosybrown;
	border: 1px solid black;

}

.numKey{
	background-color: #F2F1FF;
}

#0{

}

.adminKey{
	background-color: #FFDF7B;

}

.opkey{
	background-color: #BDBAFF;
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
/*	justify-content:center;*/
	margin: 4px;
}

#form-container{
	background-color: #FFC7AE;
	border: 2px ridge cornsilk;
	width: 200px;
}

#flex-container{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
}

#display-div{
	
}