*{
	margin: 0 auto;
	box-sizing: border-box;

}

body{
/*	background-color: #f0f8ff;*/

	background: linear-gradient(to bottom right, #f0f8ff, #F0F8FF);
}
/* outermost div container */
#form-container{
	display:relative;
	top: 100px;
	
	
}

/* directly contained by outermost container */
#flex-container{
	display: flex;
}

/*
form{

	
}
*/


#display-div{
	display: flex;
/*	justify-content: center;*/
/*	margin: 0 auto;*/

}

.display{
	font-family: monospace;
	font-size: 1.5em;
	color: cadetblue;
	text-align: right;
	padding: 10px;
	margin-bottom: 14px;
	border-style: none;
	background-color:;
}

.row{
	display: flex;
}

/* every button */

.Key{
	background-color: #F0F8FF;
	margin: 5px;
	height: 55px;
	width: 55px;
	font-size: 1em;
	border-style: none;
/*	border-left: 10px;*/
/*	border-top: 10px;*/
/*	border-color:yellow;*/
}

.Key:hover{
	border: 1px inset;
/*	border-top-color: coral;*/
}


.numKey{
	
}